<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Inherit">
        <system.webServer>
            <urlCompression doDynamicCompression="false" />
            <handlers>
                <add name="PHP-FastCGI7.3" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.3\php-cgi.exe" resourceType="File" />
            </handlers>
            <defaultDocument enabled="true">
                <files>
                    <add value="index.html" />
                    <add value="index.asp" />
                    <add value="index.php" />
                    <add value="index.htm" />
                    <add value="default.asp" />
                    <add value="index.aspx" />
                    <add value="default.aspx" />
                </files>
            </defaultDocument>
            <rewrite>
                <rules>

                    <rule name="RedirectNonWwwToWww" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^riospartners.com.br$" />
                        </conditions>
                        <action type="Redirect" url="https://www.riospartners.com.br/{R:0}" redirectType="Permanent" />
                    </rule>
                    
                    <rule name="RedirectToHTTPS" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions>
                            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        </conditions>
                        <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="Permanent" />
                    </rule>

                </rules>
            </rewrite>            
        </system.webServer>
    </location>
</configuration>