/*
===============================================================================
===============================================================================
--- RICKS STYLES - COLORS -----------------------------------------------------
Project: R3 Soluções
Date: 09/02/2021
Version: 1.0.1
===============================================================================
===============================================================================
*/
$COR-BRANCO: #fff;
$COR-PRETO: #000;
$COR-AZUL: #23a7fb;
$COR-AZUL-CLARO: #bce3fe;
$COR-CARBONO: #242424;
$COR-GELO: #f4f4f4;
$COR-LIGHT-CARBONO: #191919;

$COR-SUCCESS: #a6f999;
$COR-DANGER: #ffc2bb;
$COR-WARNING: #faec9d;
$COR-INFO: #d5edef;

$COR-AMARELO: #ffd500;
$COR-AMARELO-CLARO: #ffe552;
$COR-VERMELHO: #ed5545;

$COR-CINZA: #8b8f94;
